.statistics {
  margin: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(159, 245, 242, 0.4);
}
.list {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}
.title {
  text-align: center;
}
