.transaction_history {
  width: 300px;
  font-size: 16px;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: rgba(116, 185, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

td,
th {
  padding: 5px 33px;

  text-align: left;
  text-transform: capitalize;
  color: gray;
}

thead {
  box-shadow: 0 3px 6px #00000030;
  background-color: royalblue;
}

tr:nth-child(even) {
  background-color: rgba(116, 185, 255, 0.6);
}
